.task {
  margin-bottom: 0.75rem;
  max-width: 46rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* Gray 500 */
  background: var(--gray-500);
  /* Gray 400 */
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  gap: 0.75rem;

}

.container_2 {
  max-width: 90%;
  width: 100%;
}

.coment {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
}

.comentDone {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration-line: line-through;
  color: var(--gray-300);
}

#buttoncheck,
#buttontash {
  color: var(--gray-300);
  background: transparent;
  border: 0px;
  user-select: none;
}
#buttontash:hover {
  color: var(--danger-500);
}

text {
  word-wrap: break-word;
}
